.foodList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.foods {
  border: 1px solid maroon;
  margin: 5px;
  align-content: center;
  padding: 5px;
  width: 300px;
}

h1 {
  text-align: center;
}